<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= csrf_meta_tag() %>
    <%= live_title_tag assigns[:page_title] || "Page", suffix: " · M307" %>
    <link phx-track-static rel="stylesheet" href={Routes.static_path(@conn, "/assets/app.css")}/>
    <script defer phx-track-static type="text/javascript" src={Routes.static_path(@conn, "/assets/app.js")}></script>
  </head>
  <body>
    <header>
      <div class="px-3 py-2 bg-dark text-white">
        <div class="container">
          <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start gap-2">
            <a href="/" class="d-flex align-items-center my-2 my-lg-0 me-lg-auto text-white text-decoration-none">
              <i class="bi bi-credit-card-2-back-fill fs-1"></i>
              <h1 class="fs-2 ps-3 mb-0"><%= company_name() %></h1>
            </a>

            <ul class="nav col-12 col-lg-auto my-2 justify-content-center my-md-0 text-small">
              <li>
                <a href="#" class="nav-link text-secondary">
                  <i class="bi bi-house text-center d-block mx-auto mb-1"></i>
                  Home
                </a>
              </li>
              <li>
                <a href="#" class="nav-link text-white">
                  <i class="bi bi-speedometer2 text-center d-block mx-auto mb-1"></i>
                  Übersicht
                </a>
              </li>
              <li>
                <a href="#" class="nav-link text-white">
                  <i class="bi bi-table text-center d-block mx-auto mb-1"></i>
                  Kreditverleihe
                </a>
              </li>
              <li>
                <a href="#" class="nav-link text-white">
                  <i class="bi bi-person-circle text-center d-block mx-auto mb-1"></i>
                  Customers
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </header>
    <div class="container-md mt-3">
      <%= @inner_content %>
    </div>
  </body>
</html>
